@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.letter_tittle{
    font-family: 'Reggae One', cursive;
    font-size: 4em;
}
.letter{
    font-family: 'Reggae One', cursive;
    font-size: 1.5em;
}
.letter_table{
    font-family: 'Reggae One', cursive;
    font-size: 1em;
}
.content_home_tittle{
    padding-top: 10em;
}
.button_content_home{
    padding: 2em;
}
.btn{
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.199), 0 6px 20px 0 rgba(221, 209, 209, 0.26);
    width: 200px;
}
.btn_edit{
    box-shadow: 0 5px 8px 0 rgba(44, 101, 175, 0.534), 0 6px 20px 0 rgba(24, 22, 173, 0.459);
    width: 77px;
    margin: 5px;
}
.btn_delete{
    box-shadow: 0 5px 8px 0 rgba(175, 44, 44, 0.822), 0 6px 20px 0 rgba(173, 22, 22, 0.459);
    width: 85px;
    margin: 5px;
}
.content_home_1{
    padding-bottom: 237px;
}
.fondo{
    background-attachment: fixed;
}
.content_footer{
    padding: 13px;
}
.circulo_prueba{
    margin: 30px;
    background: rgba(255, 255, 255, 0.281);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align:center;
    box-shadow: opx 1px 10px rgba(0, 0, 0, 0.4);
}

