@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.letter_tittle{
    font-family: 'Reggae One', cursive;
    font-size: 4em;
}
.letter{
    font-family: 'Reggae One', cursive;
    font-size: 1.5em;
}
.letter_table{
    font-family: 'Reggae One', cursive;
    font-size: 1em;
}
.content_home_tittle{
    padding-top: 10em;
}
.button_content_home{
    padding: 2em;
}
.btn{
    box-shadow: 0 3px 5px 0 rgb(0, 0, 0), 0 6px 20px 0 #fffdfd;
    width: 200px;
}
.btn_edit{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.514), 0 6px 20px 0 rgb(24, 22, 173);
    width: 77px;
    margin: 5px;
}
.btn_delete{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.363), 0 6px 20px 0 rgb(173, 22, 22);
    width: 97px;
    margin: 5px;
}
.btn_logout{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.363), 0 6px 20px 0 rgb(173, 22, 22);
}
.content_home_1{
    padding-bottom: 237px;
}
.fondo{
    background-attachment: fixed;
}
.content_footer{
    padding: 13px;
}
.circulo_prueba{
    margin: 30px;
    background: rgba(255, 255, 255, 0.281);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align:center;
    box-shadow: 0 5px 8px 0 rgba(17, 17, 17, 0.76), 0 6px 20px 0 rgb(56, 155, 26);
}
.btn_save{
    box-shadow: 0 5px 8px 0 rgba(17, 17, 17, 0.74), 0 6px 20px 0 rgb(56, 155, 26);
}
.modal{
    background-color: rgba(107, 84, 97, 0.61);
}

